/* line 2, ../sass/_sortable.sass */
table[data-sortable] {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 6, ../sass/_sortable.sass */
table[data-sortable] th {
  vertical-align: bottom;
  font-weight: bold;
}
/* line 10, ../sass/_sortable.sass */
table[data-sortable] th, table[data-sortable] td {
  text-align: left;
  padding: 10px;
}
/* line 14, ../sass/_sortable.sass */
table[data-sortable] th:not([data-sortable="false"]) {
  -webkit-user-select: none;
  cursor: pointer;
  position: relative;
}
/* line 21, ../sass/_sortable.sass */
table[data-sortable] th[data-sorted="true"]:after {
  content: "";
  display: inline-block;
  height: 0;
  width: 30px;
}
/* line 27, ../sass/_sortable.sass */
table[data-sortable] th[data-sorted="true"]:before {
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  position: absolute;
  margin: auto;
  right: 10px;
}
/* line 39, ../sass/_sortable.sass */
table[data-sortable] th[data-sorted="true"][data-sorted-direction="descending"]:before {
  border-top-color: inherit;
  top: 4px;
  bottom: 0;
}
/* line 44, ../sass/_sortable.sass */
table[data-sortable] th[data-sorted="true"][data-sorted-direction="ascending"]:before {
  border-bottom-color: inherit;
  top: 0;
  bottom: 4px;
}
