/* line 1, ../sass/sortTable.sass */
table[data-sortable="true"] {
  border-collapse: collapse;
  border-spacing: 0;
  background: rgba(0, 0, 0, 0.05);
}
/* line 6, ../sass/sortTable.sass */
table[data-sortable="true"] tbody td {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
/* line 9, ../sass/sortTable.sass */
table[data-sortable="true"] th, table[data-sortable="true"] td {
  text-align: left;
  padding: 10px;
}
/* line 13, ../sass/sortTable.sass */
table[data-sortable="true"] th:not([data-sort="false"]) {
  -webkit-user-select: none;
  cursor: pointer;
  position: relative;
}
/* line 18, ../sass/sortTable.sass */
table[data-sortable="true"] th[data-sorted="true"] {
  background: rgba(0, 0, 0, 0.05);
}
/* line 21, ../sass/sortTable.sass */
table[data-sortable="true"] th[data-sorted="true"]:after {
  content: "";
  display: inline-block;
  height: 0;
  width: 30px;
}
/* line 27, ../sass/sortTable.sass */
table[data-sortable="true"] th[data-sorted="true"]:before {
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  position: absolute;
  margin: auto;
  right: 10px;
}
/* line 39, ../sass/sortTable.sass */
table[data-sortable="true"] th[data-sorted="true"][data-sorted-reverse="true"]:before {
  border-top-color: inherit;
  top: 4px;
  bottom: 0;
}
/* line 44, ../sass/sortTable.sass */
table[data-sortable="true"] th[data-sorted="true"][data-sorted-reverse="false"]:before {
  border-bottom-color: inherit;
  top: 0;
  bottom: 4px;
}
